{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Мой магазин{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <a href="/" class="logo">Магазин</a>
    <a class="logo" href="{% url 'home' %}">Все отзывы</a>
    <a class="logo" {% if request.user.is_authenticated %} href="{% url 'create' %}">Оставить отзыв</a>
    {% endif %}
    <a class="logo" href="{% url 'about' %}">Контакты</a>
    <span class="navbar-text">
            {% if request.user.is_authenticated %}
            Добро пожаловать, {{ user.username }} | <a href="{% url 'logout' %}">Выход</a>
            {% else %}
            <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Вход</a>
            {% endif %}
    </span>
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
        В корзине:
        <a href="{% url 'cart:cart_detail' %}">
            {{ total_items }} шт, ${{ cart.get_total_price }}
        </a>
        {% else %}
        Корзина пустая
        {% endif %}
        {% endwith %}
    </div>
    <div id="product-detail">
        {% block content %}{% endblock %}
    </div>
</body>
</html>