{% extends 'user/base.html' %}


{% block title %}
Заказ
{% endblock %}

{% block content %}
<span class="py-2 d-none d-md-inline-block">
            {% if request.user.is_authenticated %}
<div class="container">
    <h1>Оформление заказа</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"class="btn btn-success">Отправить заказ</button>
            {% else %}
                <h3>Для оформления заказа нужно авторизоваться</h3>
            {% endif %}
</span>
</form>
</div>
{% endblock %}